<header class="header">
    <div class="container logo-nav-container">
        <img class="logo" src="/images/Logo-Final.jpg">
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Cars</a></li>
                <li><a href="/compare">Compare</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>