<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-agregar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Agregar</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <img class="logo" src="/images/Logo-Final.jpg">
            <nav class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Cars</a></li>
                    <li><a href="/compare">Compare</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/product">Product</a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        
        <div class="contenedor-agregar">
            <form method="POST" action="/agregar">
            <h2>Agregar un vehiculo</h2>
            <label>Introduzca marca</label>
            <input type="text" name="marca">
            <label>Introduzca modelo</label>
            <input type="text" name="modelo">
            <label>Introduzca color</label>
            <input type="text" name="color">
            <label>Introduzca precio</label>
            <input type="number" name="precio">
            <label>Introduzca una breve despripción</label>
            <textarea name="descripcion"></textarea>
            <input class="imagen" type="file" name="imagen" />          
            <input type="submit">
            </form>
        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <p>Soy el footer</p>
        </div>
    </footer>
    
</body>
</html>