<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/list-cars.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Lista de autos</title>
</head>
<body>

<header>
    <div class="container logo-nav-container">
        <img class="logo" src="/images/Logo-Final.jpg">
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Cars</a></li>
                <li><a href="/compare">Compare</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section>
     

    </section>
</main>

</body>