<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Bienvenidxs a</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<header class="header">
    <div class="container logo-nav-container">
        <a href="/" class="logo">LOGO</a>
        <nav class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Cars</a></li>
                <li><a href="/compare">Compare</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>