<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">

    </head>


    <body class="body-login">
            <header class="header">
                <div class="container logo-nav-container">
                    <img src="/images/Logo-Final.jpg">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="/compare">Compare</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/product">Product</a></li>
                            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            
        <main class="main-login">
                <div class="carrusel-login">
                    <h1>Seré el carrusel</h1>
                </div>
            

                <div class="contenedor-login">
                        <form action="/login" method="POST"></form>
                        <h2>Iniciar Sesión</h2>
                        <label>Nombre de usuario</label>
                        <input type="email">
                        <label>Contraseña</label>
                        <input type="password">
                        <label href="#">Olvido su contraseña?</label>
                        <button class="Iniciar">Iniciar</button>
                </div>

        </main>    
    </body>
</html>