<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles-signup.css">

    </head>


    <body class="body-signup">
            <header class="header">
                <div class="container logo-nav-container">
                    <img src="/images/Logo-Final.jpg">
                    <nav class="navigation">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Cars</a></li>
                            <li><a href="/compare">Compare</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">SignUp</a></li>
                            <li><a href="/product">Product</a></li>
                            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            
        <main class="main-signup">
                <div class="carrusel-signup">
                    <h1>Seré el carrusel</h1>
                </div>
            

                <div class="contenedor-signup">
                        <form action="/signup" method="POST"></form>
                        <h2>Sign Up</h2>
                        <label>First Name</label>
                        <input type="text">
                        <label>Last Name</label>
                        <input type="text">
                        <label>Email</label>
                        <input type="email">
                        <label>User Name</label>
                        <input type="text">
                        <label>Password</label>
                        <input type="password">
                        <button class="Iniciar">Create Your Account</button>
                        <label href="/login">Already you are member?. Sign In</label>
                </div>

        </main>    
    </body>
</html>