body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em; 
    margin: 0;
    background-color: black;
}

.header{
    background: white;
    color: black;
    padding: 2rem 0;
    max-height: 120px;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color: black;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    max-height: 200px;
    max-width: 200px;
}


.navigation ul{

    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover {
    background: #4a4a4a;
}


main{
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor-general{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    background-color: grey;
    padding: 2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 30%;
}

.contenedor-general select{
    width: 200px;
    margin-top: 10px;
}

.botones{
    display: flex;
    flex-direction: row;
    background-color: grey;
    width: 500px;
    background-color: grey;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 30%;
    padding-top: 0;
}
.botones button{
    margin-left: 10px;
}





footer{
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}


.contenedor-general h1{
    size: 300rem;
    color: cyan;
   
}